doctype html
html(lang=t("site.lang:en"), dir="auto")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block head
      title= t('site.title:staticbuild-jade')
    |!{build.link("/lib/site/$pvh/css/site.css")}
    |!{build.script("/lib/site/$pvh/js/site.js")}
  body
    block content
      p!= '&nbsp;'
    em= t("site.copyright:Copyright @ Devoptix LLC 2015")
