extends ./lib/main/base.layout.jade
block head
  title= t('site.title:staticbuild-jade') + ' Hello'
block content
  h4 #{t('site.greeting:Welcome to')} #{t('site.title')}!
  p!= '&nbsp;'
  h5 Facts
  ul
    li Package: #{build.pkg.name} v#{build.pkg.version}
    li Description: #{build.pkg.description}
    li In development mode: #{build.dev}
    li Locale: #{build.locale}
  p!= '&nbsp;'